# Core functionality - changes here should be rare!
/src/app.py                   @Amodshrestha13
/src/backend/database.py      @Amodshrestha13
/src/backend/routers/auth.py  @Amodshrestha13

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Amodshrestha13
